:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 300ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}
body::-webkit-scrollbar-track {
  background: #23232E;
}
body::-webkit-scrollbar-thumb {
  background: #141418;
}

main {
  margin-left: 6rem;
  margin-top: 1.2rem;
  margin-right: 3rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 300ms ease;
  width: 10rem;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5.5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.nav-item:last-child {
  margin-top: auto;
}

.link-text {
  display: none;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 20px;
}

.nav-link img {
  width: 3rem;
  min-width: 3rem;
  margin: 0 1rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 3.5rem;
  letter-spacing: 0.1ch;
  width: 100%;
  transition: width 300ms ease;
}

.logo img {
  transform: rotate(90deg);
  transition: var(--transition-speed);
}

.navbar:hover .logo img {
  transform: rotate(270deg);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}


/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

}

/* Large screens */
@media only screen and (min-width: 700px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 14rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }

  .navbar:hover .logo img {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
